# Virtual environments
.venv/
test-env/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*

# Logs
*.log